{% extends "GrupaProjektBundle::layout.html.twig" %}


{% block content %}
		 
		<title>Logowanie</title>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<div class="panel panel-primary" style="z-index:0; width:300px; height:300px ">
	<!-- <div class="container"> -->
	
		<div class="panel-heading" style="width:300px; height:300px">
			<h1 class="panel-title">Proszę się zalogować</h1>
		
		<br>
	<!-- FORMULARZ LOGOWANIA -->
	<form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
		<div class="well">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token ('authenticate') }}" />
		<div class="input-group" style="z-index:1">
		<input type="username" id="username" name="_username" class="form-control" placeholder="{{ 'nazwa uzytkownika'|trans }}"
			aria-describedby="basic-addon1" value="" required="required" /><span class="input-group-addon" id="basic-addon1">np. Jasio</span>
		</div>
		<br>
		<input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'podaj hasło'|trans }}" required="required" />
		</div>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'Pamiętaj mnie'|trans }}</label>
	</div>
		<input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" value="{{ 'Zaloguj się'|trans }}" />
	</form>
	<img src="http://www.podpiselektroniczny.kalisz.pl/wp-content/uploads/2013/05/klucz.jpg" width="500" height="400"/>
	
		</div>
</div>

{% endblock %}



